/*****MOBILE-FIRST*****/

.Header {
  background-color: var(--color-elements);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 4rem 1.95rem 3.8rem 1.95rem;
  align-items: center;
  box-shadow: 3px 2px 7px rgba(0, 0, 0, 0.1);
}

.header__Title {
  color: var(--color-text);
}

.header__Btn-Toggle-Theme {
  appearance: none;
  display: flex;
  align-items: center;
  border: none;
  font-family: inherit;
  color: var(--color-text);
  font-weight: 600;
  font-size: 1.45rem;
  background-color: transparent;
  cursor: pointer;
  padding: 3px 0 0 0;
}

.header__Icon-Btn {
  font-size: 1.8rem;
  display: inline-block;
  margin: 0 18px 0 0;
}

/*****BREAKPOINT 960px TO DESKTOP LAYOUT*****/
@media screen and (min-width: 960px) {
  .Header {
    padding: 1.55rem 5.1rem 1.7rem 5.1rem;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
  }

  .header__Title {
    color: var(--color-text);
    font-weight: 800;
    font-size: 1.5rem;
  }

  .header__Btn-Toggle-Theme {
    font-size: 1rem;
    padding: 3px 0 0 0;
  }

  .header__Icon-Btn {
    font-size: 1.18rem;
    margin: 0 5px 0 0;
  }
}
